<!DOCTYPE html>
<html>
    <head>
        <title>
            Updated Successfully!
        </title>
    </head>

<center>


    <body>
    <h1>Updated  Successfully!</h1>
    {%for event in eventList%}
    <p>
        <b>
            <i>
                Status of "{{event[0]}}" for {{tempMonthString}} {{Day}}{{suffix}} of {{Year}} has been updated to {{event[1]}}!
            </i>
        </b>
    </p>
    </body>
    {% endfor %}


    <a href="/Info?Year={{todayYear}}&Month={{todayMonth}}&Day={{todayDay}}">View Today's List!</a>
    <br>
    <a href="/">Back to home page</a>

</center>
</html>

<!--<a href="/Info?Year={{todayYear}}&Month={{todayMonth}}&Day={{todayDay}}">Updated List</a>-->
<!--    <br>-->
