<!DOCTYPE html>
<html>
    <head>
        <title>
            {{headerWords}}
        </title>
    </head>
<center>

    <body>
    <h1>{{titleWords}}</h1>
    <p><b><i>{{instructWords}}</i></b></p>

    <style>table, th, td {border:1px solid black;}</style>
    <table width="50%">

        <tr style="font-size: 20px">
            <th style="font-style: italic">Status</th>
            <th style="font-style: italic">Event</th>
        </tr>

        {% for event in undoneEntryList %}
            <tr>
            <th><input type="checkbox" disabled></th>
            <th>{{event[0]}}</th>
            </tr>
        {% endfor %}

        {% for event in doneEntryList %}
            <tr>
            <th><input type="checkbox" checked disabled></th>
            <th>{{event[0]}}</th>
            </tr>
        {% endfor %}
    </table>

    {% for entry in finished %}
    <br>
    <b><i>{{entry}}</i></b>
    {% endfor %}


    <form action="/checkedToDo", method="GET">
        <p>Check the ones that you have done below:</p>
        <select name="ID" required>
            <option disabled selected>Choose Event..</option>
            {% for event in undoneEntryList %}
            <option value={{event[1]}}>{{event[0]}}<br><br>
            {% endfor %}
        </select>
        <input type="submit" value="Done!"> <br><br>


    <form action="/checkedToDo", method="GET">
        <p>Check the ones that you want to undo below:</p>
        <select name="undoID" required>
            <option disabled selected>Choose Event..</option>
            {% for event in doneEntryList %}
            <option value={{event[1]}}>{{event[0]}}<br><br>
            {% endfor %}
        </select>
        <input type="submit" value="Done!"> <br><br>


    </form>

    </body>


    <a href="/Info?Year={{todayYear}}&Month={{todayMonth}}&Day={{todayDay}}">View Today's List!</a>
    <br>
    <a href="/">Back to home page</a>

</center>
</html>